<div class="container-fluid" *ngIf="tasksList">
  <div class="row">
 
    <div class="col-12">
 
      <div class="card mt-5">
        <div class="card-header">
          <h1 class="display-6 d-inline">Todo App</h1>
 
          <app-admin-tasks></app-admin-tasks>
 
        </div>
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr *ngFor="let todo of tasksList}">
                <td>
                  <code>{{todo | json}}</code>
                </td>
              </tr>
            </tbody>
          </table>
 
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
 
    </div>
 
  </div>
</div>